---
import { getCollection } from "astro:content"

import PageLayout from "@/layouts/PageLayout.astro"

export const getStaticPaths = async () => {
  const works = await getCollection("works")
  return works.map((work) => ({
    params: { slug: work.slug },
    props: { work: work },
  }))
}

const { work } = Astro.props
const { Content } = await work.render()
---

<PageLayout title="Works | YuArasino WebSite">
  <main id="top" class="my-16 px-8">
    <h1 class="font-ui text-6xl text-primary-500">Works</h1>
    <p class="text-xl">{work.data.title}</p>
    <div class="prose my-16 max-w-none">
      <Content />
    </div>
  </main>
</PageLayout>
