@use "@/styles/variables.module.scss" as *;

.main {
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  font-size: 9vw;
  line-height: 1.25;
  color: #fff;
  white-space: pre-wrap;

  @media #{$smallQuery} {
    font-size: 6vw;
    white-space: unset;
  }

  @media #{$middleQuery} {
    font-size: 4.5vw;
    white-space: pre-wrap;
  }

  @media #{$largeQuery} {
    font-size: 3vw;
    white-space: unset;
  }
}

.name {
  display: inline-block;
  align-self: flex-start;
  padding: 0.05em 0.25em 0.2em;
  background: $primaryColor;

  @media #{$middleQuery} {
    margin-left: -0.5em;
  }
}

.role {
  display: inline-block;
  align-self: flex-end;
  padding: 0.05em 0.25em 0.2em;
  margin-top: 1rem;
  background: $primaryColor;
}
