---
import Hero from "@/compositions/index/Hero.astro";
import Layout from "@/layouts/Layout.astro";

const title = "yuarasino-website";
const description = "新篠ゆうのウェブサイト";
---

<Layout
  {title}
  {description}
>
  <main>
    <section>
      <Hero />
    </section>
  </main>
</Layout>
