---
import HomeLayout from "@/layouts/HomeLayout.astro"
import WorksSection from "@/sections/WorksSection.astro"
---

<HomeLayout title="YuArasino WebSite">
  <main id="top" class="px-8">
    <h1 class="font-ui text-6xl text-primary-500">YuArasino WebSite</h1>
    <p class="text-xl">新篠ゆうのウェブサイト</p>
    <WorksSection />
  </main>
</HomeLayout>
