---
import Container from "@/components/Container.astro";
import Layout from "@/layouts/Layout.astro";
import { cn } from "@/utils/tailwind.ts";

const title = "yuarasino-website";
const description = "新篠ゆうのウェブサイト";
---

<Layout
  {title}
  {description}
>
  <main>
    <section>
      <Container class={cn("py-16")}>
        <h1 class={cn("text-pink-300")}>{title}</h1>
        <p class={cn("text-blue-300")}>{description}</p>
      </Container>
    </section>
  </main>
</Layout>
