---
import "~/styles/global.css";
import { cn } from "~/utils/tailwind.ts";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Astro</title>
  </head>
  <body>
    <h1 class={cn("text-pink-500")}>Astro</h1>
  </body>
</html>
