---
import Layout from "#src/layouts/Layout.astro";
import Counter from "#src/components/Counter.svelte";

const title = "yuarasino-website";
const description = "新篠ゆうのウェブサイト";
---

<Layout title={title} description={description}>
  <main>
    <h1 class="text-pink-500">{title}</h1>
    <p class="text-blue-500">{description}</p>
    <p>
      <span class="icon-[fa7-brands--github] text-gray-500" />
    </p>
    <p>
      <Counter client:only="svelte" />
    </p>
  </main>
</Layout>
