---
import Layout from "#src/layouts/Layout.astro";
import Counter from "#src/components/Counter.svelte";

const title = "yuarasino-website";
const description = "新篠ゆうのウェブサイト";
---

<Layout title={title} description={description}>
  <main>
    <h1>{title}</h1>
    <p>{description}</p>
    <Counter client:only="svelte" />
  </main>
</Layout>
