---
import Layout from "../layouts/Layout.astro"

const title = "YuArasino WebSite"
const description = "新篠ゆうのウェブサイト"
---

<Layout title={title} description={description}>
  <main>
    <h1 class="text-6xl tracking-wide text-primary-500">{title}</h1>
  </main>
</Layout>
