---
import Layout from "@/layouts/Layout.astro"
---

<Layout title="YuArasino WebSite">
  <main>
    <h1 class="font-ui text-6xl text-primary-500">YuArasino WebSite</h1>
    <p class="text-xl">新篠ゆうのウェブサイト</p>
  </main>
</Layout>
