---
import IconButton from "@/components/IconButton.astro"
---

<footer class="py-16 text-primary-500">
  <div class="flex justify-center gap-8">
    <IconButton href="#" icon="i-fa6-brands-x-twitter" color="bg-[#0f1419]" />
    <IconButton href="#" icon="i-fa6-brands-bluesky" color="bg-[#1185fe]" />
    <IconButton href="#" icon="i-fa6-brands-youtube" color="bg-[#ff0000]" />
    <IconButton href="#" icon="i-fa6-brands-github" color="bg-[#333333]" />
  </div>
  <div class="mt-8 flex justify-center">
    <p>&copy; YuArasino</p>
  </div>
</footer>
