---
interface Frontmatter {
  date: string
  title: string
  category: string
}

const contents = (await Astro.glob<Frontmatter>("@/content/news/*.md")).sort(
  (a, b) =>
    Date.parse(a.frontmatter.date) < Date.parse(b.frontmatter.date) ? 1 : -1,
)
---

<section id="news">
  <h2 class="border-b-2 border-primary-500 text-6xl text-primary-500">News</h2>
  <ul>
    {
      contents.map((item) => (
        <li class="mx-4 my-4">
          <span>{item.frontmatter.date}</span>
          <span class="ml-2">{item.frontmatter.category}</span>
          <span class="ml-2">{item.frontmatter.title}</span>
        </li>
      ))
    }
  </ul>
</section>
