---
import { Picture } from "astro:assets";
import { siteName } from "@/consts.ts";
import scrollIcon from "@/assets/icons/scroll.svg?url";
import illustImage from "@/assets/images/illust.png";
import Arranger from "@/components/Arranger.astro";
import Icon from "@/components/Icon.astro";
import { cn } from "@/utils/tailwind";
---

<div>
  <Arranger
    class={cn(
      "relative",
    )}
  >
    <Arranger>
      <Picture
        class={cn(
          "h-(--hero-height) w-full",
          "object-cover object-top",
        )}
        src={illustImage}
        alt="新篠ゆうのイラスト"
        formats={["avif", "webp"]}
        fallbackFormat="jpg"
        fetchpriority="high"
        loading="eager"
      />
    </Arranger>
    <Arranger
      class={cn(
        "absolute bottom-0 inset-x-0",
        "py-8",
      )}
    >
      <Arranger
        class={cn(
          "flex items-center",
          "flex-col lg:flex-row",
          "mb-12 gap-y-4",
        )}
      >
        <Arranger
          class={cn(
            "flex justify-end",
            "flex-1",
          )}
        >
          <p
            class={cn(
              "py-2 px-4",
              "bg-pink-300",
              "font-light",
              "text-4xl md:text-5xl",
              "lg:text-4xl xl:text-5xl",
              "tracking-widest leading-none",
              "text-white",
            )}
          >
            WELCOME TO
          </p>
        </Arranger>
        <Arranger
          class={cn(
            "flex justify-start",
            "flex-1",
          )}
        >
          <h1
            class={cn(
              "py-2 px-4",
              "bg-blue-300",
              "font-light",
              "text-4xl md:text-5xl",
              "lg:text-4xl xl:text-5xl",
              "tracking-widest leading-none",
              "text-white",
            )}
          >
            {siteName}
          </h1>
        </Arranger>
      </Arranger>
      <Arranger
        class={cn(
          "flex justify-center",
        )}
      >
        <div
          class={cn(
            "text-white",
            "drop-shadow-lg drop-shadow-black",
          )}
        >
          <Icon
            class={cn(
              "size-12",
              "animate-bounce",
            )}
            src={scrollIcon}
            alt="コンテンツに進む"
          />
        </div>
      </Arranger>
    </Arranger>
  </Arranger>
</div>
