---
import { navLinks, siteName } from "@/consts.ts";
import closeIcon from "@/assets/icons/close.svg?url";
import Arranger from "@/components/Arranger.astro";
import Icon from "@/components/Icon.astro";
import { cn } from "@/utils/tailwind";
---

<dialog
  class={cn(
    "menu-dialog",
    "fixed inset-0 z-50",
    "h-full w-full max-h-full max-w-full",
    "bg-slate-700",
    "-translate-x-full",
    "open:translate-x-0 open:starting:-translate-x-full",
    "transition-all transition-discrete",
    "backdrop:hidden",
  )}
>
  <Arranger>
    <Arranger
      class={cn(
        "flex justify-between",
      )}
    >
      <Arranger>
        <div
          class={cn(
            "bg-white",
          )}
        >
          <a
            class={cn(
              "menu-link",
              "flex items-center",
              "px-4",
              "h-12",
              "bg-slate-700",
              "font-light leading-none",
              "text-white",
              "cursor-pointer",
              "transition-opacity",
              "hover:opacity-85",
            )}
            href="/"
          >
            {siteName}
          </a>
        </div>
      </Arranger>
      <Arranger>
        <div
          class={cn(
            "bg-white",
          )}
        >
          <button
            class={cn(
              "menu-close-button",
              "flex items-center",
              "px-3",
              "h-12",
              "bg-slate-700",
              "text-white",
              "cursor-pointer",
              "transition-opacity",
              "hover:opacity-85",
            )}
            type="button"
          >
            <Icon
              src={closeIcon}
              alt="メニューを閉じる"
            />
          </button>
        </div>
      </Arranger>
    </Arranger>
    <Arranger
      class={cn(
        "py-8",
      )}
    >
      <nav>
        <ul
          class={cn(
            "flex flex-col items-center",
            "gap-y-4",
          )}
        >
          {
            navLinks.map((
              { name, href },
            ) => {
              return (
              <li>
                <div
                  class={cn(
                    "bg-white",
                  )}
                >
                  <a
                    class={cn(
                      "menu-link",
                      "flex items-center",
                      "px-4",
                      "h-12",
                      "bg-slate-700",
                      "font-light leading-none",
                      "text-white",
                      "cursor-pointer",
                      "transition-opacity",
                      "hover:opacity-85",
                    )}
                    {href}
                  >
                    {name}
                  </a>
                </div>
              </li>
            );
            })
          }
        </ul>
      </nav>
    </Arranger>
  </Arranger>
</dialog>

<script>
  const menuDialog = document.querySelector<HTMLDialogElement>(
    ".menu-dialog",
  );
  const menuCloseButton = document.querySelector<HTMLButtonElement>(
    ".menu-close-button",
  );
  const menuLinks = document.querySelectorAll<HTMLAnchorElement>(
    ".menu-link",
  );

  menuCloseButton?.addEventListener("click", () => {
    menuDialog?.close();
  });
  menuLinks.forEach((menuLink) => {
    menuLink.addEventListener("click", () => {
      menuDialog?.close();
    });
  });
</script>
