---
import "@fontsource-variable/noto-sans-jp";
import "@fontsource-variable/noto-sans";
import "@fontsource-variable/noto-sans-mono";
import "~/assets/styles.css";
import SeoMeta from "~/components/SeoMeta.astro";

type Props = {
  title: string;
  description: string;
  openGraph?: {
    ogType: "website" | "article";
    ogImage: string;
    twitterSite: string;
    twitterCreator: string;
  };
  robots?: string;
};

const {
  title,
  description,
  openGraph,
  robots,
} = Astro.props;
---

<html lang="ja">
  <head>
    <SeoMeta
      {title}
      {description}
      isTop={Astro.url.pathname === "/"}
      siteName="新篠ゆうのスタジオルーム"
      openGraph={openGraph && {
        ...openGraph,
        twitterSite: "@yuarasino",
        twitterCreator: "@yuarasino",
      }}
      {robots}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
