---
import "@fontsource-variable/m-plus-1"

import Hero from "@/components/Hero.astro"

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <div class="flex flex-col lg:flex-row">
      <div class="flex-1 relative -z-10">
        <Hero />
      </div>
      <div class="flex-1 shadow-xl">
        <slot />
      </div>
    </div>
  </body>
</html>
