---
import "@fontsource-variable/noto-sans";
import "@fontsource-variable/noto-sans-mono";
import "@fontsource-variable/noto-sans-jp";
import "@/styles/global.css";
import Header from "@/compositions/Header.astro";
import Menu from "@/compositions/Menu.astro";
import { cn } from "@/utils/tailwind";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
const generator = Astro.generator;
---

<html
  class={cn(
    "pt-12",
    "tracking-wider",
    "text-slate-700",
    "scroll-smooth scroll-p-12",
  )}
  lang="ja"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="generator" content={generator} />
  </head>
  <body>
    <Header />
    <Menu />
    <slot />
  </body>
</html>
